@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

:root {
  --background: linear-gradient(
    90deg,
    rgba(246, 150, 130, 1) 0%,
    rgba(206, 163, 204, 1) 41%,
    rgba(248, 205, 190, 1) 100%
  );
  --peach: rgba(246, 150, 130, 1);
  --body-font: "Overpass", sans-serif;
  --title-font: "Dancing Script", cursive;
  --white: rgb(255, 255, 255);
  --box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: var(--body-font);
  background: var(--background);
  color: var(--white);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.show-modal {
  position: relative;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 1.5rem 2rem;
  border: 1px var(--white) solid;
  background-color: transparent;
  color: var(--white);
  border-radius: 25px;
  cursor: pointer;
  font-family: var(--title-font);
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--white);
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.hidden {
  display: none;
}

/** Modal Block **/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 45rem;
  height: 100%;
  max-height: 37rem;
  padding: 2rem;
  background: var(--background);
  border: var(--white) 5px solid;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  z-index: 10;
  overflow: scroll;
}
h1 {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 2px;
  font-family: var(--title-font);
}
p {
  overflow: scroll;
  line-height: 2rem;
  letter-spacing: 1px;
  padding: 1rem;
  font-size: 1.5rem;
}

@media (hover: hover) {
  .close-modal:hover {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    transition: all ease-in-out 0.3s;
  }
  .show-modal:hover {
    color: var(--peach);
    background-color: var(--white);
    transition: all ease-in-out 0.3s;
  }
}
